Name: GlasklartClassic
Version: 1.0.0
Description: The Classic Glasklart Theme
Maintainer: waruhachi
Author: Max Rudberg
Section: Themes
Architecture: iphoneos-arm
Depends: com.spark.snowboard | com.anemonetheming.anemone
Package: com.maxrudberg.glasklart.classic